@{
    ViewData["Title"] = "Cookies";
}

<h1>@ViewData["Title"]</h1>

<p> Cookies deleted </p>

<p>
    <a class="btn tbn-primary" href="/DeleteCookies">Delete Cookies</a>
</p>

<p>
    Deleting cookies can solve some authentication errors.
</p>
