@{
    ViewData["Title"] = "Load";
}

<h1 class="display-4 text-center">Alba Data Sync</h1>
<div class="container w-50 mx-auto text-center">
    <p>These buttons download data from Alba to this reporting system.  Please be patient, each download may take a few minutes to finish.</p>
    <div class="d-flex flex-column">
        <a class="p-2 m-2 btn btn-outline-secondary" href="/Report"> <i class="fas fa-arrow-left text-body"></i> Reports</a>
        <a class="p-2 m-2 btn btn-outline-primary" href="/api/Assignments/LoadAssignments">Load Territory Assignments</a>
        <a class="p-2 m-2 btn btn-outline-primary" href="LoadUsers">Load Users</a>
    </div>
</div>