server {
    server_name staging.territorytools.org;
    # Turn these two lines on when you need them
    #rewrite_log on;
    #error_log /var/log/nginx/org.territorytools.staging.7.error_log debug;

    rewrite ^/(wasm|app)/(.*)$ /tt-web-wasm-staging/$2 last;

    # If the file or URL path is not recognized the index.html 
    #   file is loaded and yew_router reads the URL
    location /tt-web-wasm-staging/ {
        root /var/www;
        try_files $uri $uri/ /tt-web-wasm-staging/index.html;
	}

    location / {
        proxy_pass http://localhost:5000/;
        proxy_set_header    Host                $http_host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Host    $host;
        proxy_set_header    X-Forwarded-Proto   $scheme;
    }


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/staging.territorytools.org/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/staging.territorytools.org/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = staging.territorytools.org) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    server_name staging.territorytools.org;
    listen 80;
    return 404; # managed by Certbot


}