@using Microsoft.AspNetCore.Mvc.Localization
@model ManageTerritoriesAllPage;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"].Value;
}

<h3 class="display-4 text-center">Manage Territories</h3>

<div class="container" style="max-width:500px;">
    <div class="d-flex flex-column">
        <a class="p-2 m-2 btn btn-outline-secondary" asp-controller="Home" asp-action="Index">
            <i class="fas fa-arrow-left text-body"></i>Home
        </a>
     
    </div>
    <table  class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Signed-out to</th>
          <th scope="col">Months</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="checked-out-to-section" onload="getCheckedOutTerritories()">
       
      </tbody>
    </table>
    <div id="checked-out-to-section-OLD" onload="">Loading...</div>
    
</div>

@section scripts {
    <script type="text/javascript">
        //var userFullName = "Model.Name";

        document.addEventListener('DOMContentLoaded', (event) => {
            getCheckedOutTerritories();
        });

        function getCheckedOutTerritories()
        {
            $.ajax({
                type: 'GET',
                url: `/api/territories/checked-out-to?userFullName=*`,
                dataType: 'json',
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#checked-out-to-section')
                        .css('color', 'red')
                        .text(`Sorry there was an error loading your territories.  (${xhr.status} ${status} ${xhr.responseText})`);
                },
                success: function (data) {
                    $('#checked-out-to-section')
                            .text('');
                    data.forEach(function(item) {
                      const signedOut = new Date(item.signedOut);
                      const year = signedOut.getFullYear();
                      const month = signedOut.getMonth().toString().padStart(2,"0");
                      const day = signedOut.getDate().toString().padStart(2,"0");
                      const signedOutString = `${year}-${month}-${day}`;
                      var html = 
                        `
                        <tr>
                          <th scope="row">${item.number}</th>
                          <td>${item.description}</td>
                          <td>${item.signedOutTo}</td>
                          <td>${signedOutString}</td>
                          <td><a target="_blank" href="${item.assigneeMobileLink}">open</a></td>
                        </tr>
                       `
                          //<a class="btn btn-primary" target="_blank" href="${item.assigneeMobileLink}">Open</a></td>

                       $('#checked-out-to-section')
                            .append(html);
                    });
                }
            });
        }

    </script>
}