@{
    ViewData["Title"] = "Reports";
}

<h3 class="display-4 text-center">Territory Reports</h3>
<div class="container"  style="max-width:500px;">
    <div class="d-flex flex-column">
        <a href="Load" class="p-2 m-2 btn btn-outline-secondary">Load Data From Alba</a>
        <a href="~/Report/SummarizeCompleted" class="p-2 m-2 btn btn-outline-primary">Yearly Totals</a>
        <a href="NeverCompleted" class="p-2 m-2 btn btn-outline-primary">Territories Never Completed</a>
        <a href="Available" class="p-2 m-2 btn btn-outline-primary">Available Territories</a>
        <a href="~/Report/ByPublisher" class="p-2 m-2 btn btn-outline-primary">Checked Out By Publishers</a>
        <a href="/api/Assignments/DownloadCsvFiles" class="p-2 m-2 btn btn-outline-secondary">Update Assignment CSV Files</a>
        <a href="/assignments.csv" class="p-2 m-2 btn btn-outline-primary">Download assignment.csv</a>
        <a href="/api/Assignments/DownloadBorderKmlFiles" class="p-2 m-2 btn btn-outline-secondary">Update Border KML Files</a>
        <a href="/borders.kml" class="p-2 m-2 btn btn-outline-primary">Download borders.kml</a>
        <a href="https://drive.google.com/open?id=1kspVMzPGlh-4EMA8hNTBaCDArUGDWM_f&usp=sharing" class="p-2 m-2 btn btn-outline-primary" target="_blank">Burn Map (Google My Maps)</a>
    </div>
</div>