@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Index">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="http://bellevuemandarin.org">Schedules</a>
    </li>
}