@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();

    @if (showBanner)
    {
        <div id="cookieConsent" class="d-flex alert alert-info show" role="alert">
            <div class="flex-grow-1">
                This website uses cookies to make it easier to use. <a href="https://www.cookiesandyou.com/">Learn More</a>.
            </div>
            <div class="m-1"></div>
            <div class="">
                <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                    <span aria-hidden="true">Accept</span>
                </button>
            </div>
        </div>
        <script>
            (function () {
                var button = document.querySelector("#cookieConsent button[data-cookie-string]");
                button.addEventListener("click", function (event) {
                    document.cookie = button.dataset.cookieString;
                }, false);
            })();
        </script>
    }
}
