@using AlbaClient.Controllers.UseCases;
@using WebUI;
@using WebUI.Models;
@model List<AlbaUser>;
@{
    ViewData["Title"] = "Alba Users";
}

<div class="container mt-3" style="max-width:600px;">
    <h3>Alba Users</h3>
    <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
        <div class="pr-2 pl-2" style="min-width:100px;">ID</div>
        <div class="pr-2 pl-2 flex-grow-1">Name</div>
        <div class="pr-2 pl-2" style="width:300px;">Email</div>
    </div>
    @foreach (var u in Model)
        {
            <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
                <div class="p-2" style="min-width:100px;font-family:courier;"><strong>@u.Id</strong></div>
                <div class="p-2 flex-grow-1">@u.Name</div>
                <div class="p-2" style="width:300px;">@u.Email</div>
            </div>
        }
</div>